body{
  background-color: rgb(3, 71, 105);
  color: #cccccc;
  margin-left: 50px;
  font-family: 'Noticia Text', serif;
  font-size: 90%;
}
a#back{
  color:#aaa;
}

h1{
  font-family: 'Alfa Slab One', sans-serif;
  text-align: center;
}
