h1 {
  font-family: 'Alfa Slab One', sans-serif;
}

.subtitle {
  font-style: italic;
  margin-left: 25px;
}

a#res_link{
  float:right;
}

h2, h3, h4{
  color: #FF6840;
}
/*This deals with the tabs on the right sidebar */
.tabs dd {
  font-family: 'PT Sans', sans-serif;
  border: 3px solid #fff;
  border-bottom: none;
  margin: 0 px;
}

.tabs dd.active {
  border: 3px solid #FFD873;
}

.tabs dd a, .tabs li a {
  color: white;
  font-weight: bold;
}

.tabs dd.active a {
  background-color: #235D79;
  color: #FF6840;
}

* Changes color of bullet points on sidebar and the dates in that list */
ul.disc {
  color: #FFCA40;
}

blockquote p {
  color: rgb(230, 230, 35);
}
/*This overwrites the standard formatting for inline code */
code {
background-color: #A62300;
}
