h2, h3, h4{
  color: #FF6840;
}

.tabs dd {
  font-family: 'PT Sans', sans-serif;
  border: 3px solid #fff;
  border-bottom: none;
  margin: 0 px;
}

.tabs dd.active {
  border: 3px solid #FFD873;
}

.tabs dd a, .tabs li a {
  color: white;
  font-weight: bold;
}

.tabs dd.active a {
  background-color: #235D79;
  color: #FF6840;
}

/*This overwrites the standard formatting for inline code */
code {
background-color: #A62300;
}
/* Changes color of bullet points on sidebar and the dates in that list */
ul.disc {
  color: #FFCA40;
}
