.header{
  width: 100%;
  text-align: center;
  background: #fff url('../images/blog/big_banner.jpg');
}

h1 a{
  color: #fff;
  font-family: 'Tahoma', sans-serif;
}

h1 a:hover{
  text-decoration: none;
  color: #ccc;
}
