%html
  %head
    %meta{charset: "utf-8"}/
    %title= data.page.title
    / Included CSS Files
    = stylesheet_link_tag 'theme', "extended_reading"
    <link href='http://fonts.googleapis.com/css?family=Alfa+Slab+One|Noticia+Text:400,700' rel='stylesheet' type='text/css'>
    = javascript_include_tag "foundation/modernizr.foundation"
  %body
    =yield
