%a#back{href: "/"}= data.site.title

%h1 Extended Reading
%hr

%p Throughout our learning in gSchool, our teachers, mentors, speakers, and classmates have occasionally recommended books in addition to our assigned reading. I've been keeping a running list of these for myself for potential reading later, but thought I should share it! If you know of other books I should add, please let me know!

%p Below you'll find a working list of books, separated into rough categories.

%h3 Business/Tech Business
%ul
  %li Drive -- Daniel Pink
  %li The Lean Startup -- Eric Ries
  %li Remote -- David Heinemeir Hansson
  %li The E Myth Revisited -- Michael E. Gerber
  %li The 4 Hour Work Week  -- Tim Ferris
  %li Slack  -- Tom Demarco


%h3 Open Source

%ul
  %li The Cathedral and the Bazaar  -- Eric S Raymond
  %li <a href='http://oreilly.com/openbook/opensources/book'} class='book-link'>Open Sources: Voices from the Open Source Revolution</a>
  %li Just For Fun: The Story of An Accidental Revolutionary -- Linus Torvalds and David Diamond


%h3 Ruby and Rails

%ul
  %li Refactoring: Ruby Edition
  %li The Rails View: Create a Beautiful and Maintainable User Experience  -- Bruce Williams and John Athayde

%h3 UX and UI

%ul
  %li Defensive Design for the Web -- 37 Signals
  %li The Timeless Way of Building -- Christopher Alexander
  %li The Visual Display of Quantitative Information  -- Edward Tufte
  %li Responsive Design
  %li Mobile First
  %li The Inmates are Running the Asylum


%h3 Don't Know Category

%ul
  %li The Mythical Man Month
  %li Agile Manifesto
  %li Getting Real
  %li Applied Cryptography
  %li How Buildings Learn  -- Stewart Brand
  %li Mental Models: Aligning Design Strategy with Human Behavior  -- Indi Young

