<div id='extended-reading'>
  <a id='back' href= "/"><%= data.site.title %></a>

  <div id='ext-rdg-header'>
    <h1>Extended Reading</h1>
    <hr>
  </div>
  <div id='ext-rdg-main-content'>
    <p>Throughout our learning in gSchool, our teachers, mentors, speakers, and classmates have occasionally recommended books in addition to our assigned reading. I've been keeping a running list of these for myself for potential reading later, but thought I should share it! If you know of other books I should add, please let me know!
    </p>

    <p>Below you'll find a working list of books, separated into rough categories.</p>

    <h3>Business/Tech Business</h3>
    <ul>
      <li> Drive -- Daniel Pink</li>
      <li> The Lean Startup -- Eric Ries</li>
      <li> Remote -- David Heinemeir Hansson</li>
      <li> The E Myth Revisited -- Michael E. Gerber</li>
      <li> The 4 Hour Work Week  -- Tim Ferris</li>
      <li> Slack  -- Tom Demarco</li>
    </ul>

    <h3>Open Source</h3>

    <ul>
      <li> The Cathedral and the Bazaar  -- Eric S Raymond</li>
      <li> <a href='http://oreilly.com/openbook/opensources/book'}class='book-link'>Open Sources: Voices from the Open Source Revolution</a></li>
      <li> Just For Fun: The Story of An Accidental Revolutionary -- Linus Torvalds and David Diamond</li>
    </ul>

    <h3>Ruby and Rails</h3>

    <ul>
      <li> Refactoring: Ruby Edition</li>
      <li> The Rails View: Create a Beautiful and Maintainable User Experience  -- Bruce Williams and John Athayde</li>
    </ul>
    <h3>UX and UI</h3>

    <ul>
      <li> Defensive Design for the Web -- 37 Signals</li>
      <li> The Timeless Way of Building -- Christopher Alexander</li>
      <li> The Visual Display of Quantitative Information  -- Edward Tufte</li>
      <li> Responsive Design</li>
      <li> Mobile First</li>
      <li> The Inmates are Running the Asylum</li>
    </ul>


    <h3>Don't Know Category</h3>

    <ul>
      <li> The Mythical Man Month</li>
      <li> Agile Manifesto</li>
      <li> Getting Real</li>
      <li> Applied Cryptography</li>
      <li> How Buildings Learn  -- Stewart Brand</li>
      <li> Mental Models: Aligning Design Strategy with Human Behavior  -- Indi Young</li>
    </ul>
  </div>
</div>
