
%a#back{href: "/"}= data.site.title
%h1 Laura M. Steadman
%p#locale Denver, Colorado
%hr
%h3 Overview
.overview
  Currently enrolled in gSchool, my skills in web development are improving by leaps and bounds. I hope to obtain a position as a Ruby on Rails web developer this summer.
.left_pane
  %h3 Education
  .education_item
    %h4 gSchool
    %p JumpstartLab, 2013 (expected)
  .education_item
    %h4 Certificate in Geographic Information Systems (GIS)
    %p Penn State University, 2011
  .education_item
    %h4 Bachelor of Arts
    %p#special Double-majors: Chemistry and Anthropology
    %p The College of William and Mary, 2008
  %h3 Experience
  .experience_item
    .job_title Manager
    .place HawthorneThreads.com, Red Hook, NY
    .time October 2011-August 2012
    .desc Supervised daily operations for an online retailer. Prioritized and delegated work to staff of 12. Fostered customer and supplier relationships via email/phone.
  .experience_item
    .job_title GIS Consultant
    .time July 2012
    .desc  Worked with US Census data to build an interactive demographic atlas on ArcGIS Online for a client.
  .experience_item
    .job_title Research Analyst, GIS Volunteer
    .place Hudsonia, Annandale, NY
    .time July 2011-October 2011; May 2011 - December 2011(volunteer)
    .desc Provided planning, fieldwork, cartographic, and database support to regional survey of invasive plants. As a volunteer: Developed Python script to automate analysis of 350+ shapefiles and identify species of conservation interest. Prepared maps for publication.
  .experience_item
    .job_title Resource Advisor
    .place National Park Service, Perdido Key, FL
    .time September 2010-November 2010
    .desc Monitored emergency shoreline cleanup efforts during the Deepwater Horizon oil spill response. Coordinated with team to consistently protect natural resources.
  .experience_item
    .job_title GIS Intern
    .place National Park Service, Boulder City, NV
    .time July 2009-July 2010
    .desc Supported staff scientists and GIS Specialist with set-up of office's "GIS Shop." Gained a broad exposure to a variety of GIS technologies and practices including data management, cartography, analysis, and GPS.
.right_pane
  %h3 Skills
  %ul
    %li Ruby on Rails
    %li pair programming
    %li TDD with RSpec and MiniTest
    %li Git
    %li HTML5, CSS3
    %li Writing & Research
    %li Spatial Analysis
    %li ESRI ArcGIS 9, 10
    %li Learning Quickly
    %li Problem Solving
  %h3 Activities
  %ul
    %li Women Who Code Denver
    %li Girl Geek Dinners Denver/Boulder
    %li Boulder-Denver New Tech Meetup
    %li OpenStreetMap
    %li Geo-CO Colorado

