<div class="banner"></div>

<div id="res-header">
  <h1 class='text-shadow'>Laura Steadman</h1>  
</div>

<div id='res-content'>
  <h2 class='res-section-header'>Get In Touch</h2>
  <div id='contact-info'>
      <p>lauramsteadman@gmail.com</p>
      <p>LinkedIn: http://linkedin.com/in/lauramsteadman</p>
      <p>Twitter: @AdventureSteady</p>
      <p>Denver, CO</p>
    </div>

  <div class='res-section'>
    <h2 class='res-section-header'>Goals</h2>
    <p>
      As a full-stack Ruby on Rails developer, I hope to find work with a great team that values agile processes, the art of crafting beautiful, well-tested code, and challenges me to continue my growth as a programmer. I enjoy frequent pair-programming.
    </p>
    <p>
      My background experience includes geospatial analysis and mapping, managing an online retailer’s warehouse, and working with natural and cultural resources.
    </p>
  </div>

  <div class='res-section'>
    <h2 class='res-section-header'>Code</h2>
    <h3>Trekkr</h3>
    <p class='code-parens-descriptor'>(gSchool individual project)</p>
    <br />
    <a href='http://github.com/thesteady/trekkr'>View the Source Code on GitHub</a>
    <a href="http://trekkr.herokuapp.com">View the Live Site</a>

    <p>Trekkr encourages users to go take a (virtual) hike by viewing geo-tagged Instagram photos mapped along the Pacific Crest Trail. <em>Used: MongoDB, TileMill, MapBox, Leaflet, Instagram API</em></p>

    <br>

    <h3>Photoline</h3>
    <p class='code-parens-descriptor'>(gSchool group project)</p>
    <br />
    <a href='http://github.com/thesteady/feed_engine'>View the Source Code on GitHub</a>
    <a href='http://photoline-feed.us'>View the Live Site</a>

    <p>Users can create and share custom photo feeds with tumblr-esque subdomains, which are set to automatically update via background workers. Photoline integrates searches from two API services. <em>Used: Resque and Resque-Scheduler, Flickr and 500px APIs, Twitter OAuth</em></p>

    <br>

    <h3>Ballmerino’s</h3>
    <p class='code-parens-descriptor'>(gSchool group project)</p>
    <br />
    <a href='https://github.com/thesteady/daughterofstore_engine'>View the Source Code on GitHub</a>
    
    <p>A multi-tenant, online store platform with a focus on product ratings and reviews.
    <em>Used: jQuery ajax</em></p>
  </div>

  <div class='res-section'>
    <h2 class='res-section-header'>Education</h2>

    gSchool
    Full-Stack Ruby on Rails Development
    July 2013
    Penn State University
    Certificate in Geographic Information Science (GIS)
    December 2011
    The College of William and Mary
    Bachelor of Arts, Chemistry and Anthropology
    May 2008
  </div>
  <div class='res-section'>

    <h2 class='res-section-header'>Experience</h2>

    Oct. 2011- Aug. 2012
    Manager
    Hawthorne Threads, NY
    2011
    Research Assistant; GIS Volunteer
    Hudsonia, NY
    Sept. - Nov. 2010
    Deepwater Horizon Resource Advisor
    National Park Service, FL
    July 2009 - July 2010 GIS Intern
    National Park Service, NV
    2008-2009
    Archaeological Field Technician
    Various, VA, SC
  </div>
</div> <!--end of resume content div -->
