<div class="banner"></div>

<div id="res-header">
  <h1 class='text-shadow'>Laura Steadman</h1>  
</div>

<div id='res-content'>
  <div id='contact-info'>
      <a href='http://linkedin.com/in/lauramsteadman'>
        <img src="../images/social_icons/linkedin-logo-webtreatsetc.png"/>
      </a>

      <a href='http://twitter.com/adventuresteady'>
        <img src='../images/social_icons/twitter-webtreatsetc.png'/>
      </a>
      <a href='mailto:lauramsteadman@gmail.com'><img src='../images/social_icons/mail-webtreatsetc.png' /></a>
    </div>


  <br />
  <br />

  <div class='res-section'>
    <h2 class='res-section-header'>Goals</h2>
    <hr>
    <p>
      As a full-stack Ruby on Rails developer, I want to work with a great team that values agile processes, code that is eloquent and well-tested, and pair-programming.
    </p>
    <p>
      My background experience includes geospatial analysis and mapping, managing an online retailer’s warehouse, and working with natural and cultural resources.
    </p>
  </div>

  <div class='res-section'>
    <h2 class='res-section-header'>Code</h2>
    <hr>
    <h3>Trekkr</h3>
    <p class='code-parens-descriptor'>(gSchool individual project)</p>
    <br />
    <a href='http://github.com/thesteady/trekkr'>View the Source Code on GitHub</a>
    <a href="http://trekkr.herokuapp.com">View the Live Site</a>

    <p>Trekkr encourages users to experience a virtual hike by viewing geo-tagged Instagram photos mapped along the Pacific Crest Trail. <em>Built with: MongoDB, TileMill, MapBox, Leaflet, Instagram API</em></p>

    <br>

    <h3>Photoline</h3>
    <p class='code-parens-descriptor'>(gSchool group project)</p>
    <br />
    <a href='http://github.com/thesteady/feed_engine'>View the Source Code on GitHub</a>
    <a href='http://photoline-feed.us'>View the Live Site</a>

    <p>Users can create and share custom photo feeds based on aggregated keyword searches or specific users, providing a topic-centric browsing experience.
    <em>Built with: Resque and Resque-Scheduler, Flickr and 500px APIs, Twitter OAuth</em></p>

    <br>

    <h3>Ballmerino’s</h3>
    <p class='code-parens-descriptor'>(gSchool group project)</p>
    <br />
    <a href='https://github.com/thesteady/daughterofstore_engine'>View the Source Code on GitHub</a>
    
    <p>A multi-tenant, online store platform with a focus on product ratings and reviews.
    <em>Built with: Ruby, Rails, jQuery + AJAX</em></p>
  </div>

  <div class='res-section'>
    <h2 class='res-section-header'>Education</h2>
    <hr>

    <table>
      <tbody>
        <tr>
        <td><h4>gSchool</h4></td>
        <td><p class='edu-descriptor'>Full-Stack Ruby on Rails Development</p></td>
        <td><p><em>July 2013</em></p></td>
        </tr>
        <tr>
        <td><h4>Penn State University</h4></td>
        <td><p class='edu-descriptor'>Certificiate in Geographic Information Science (GIS)</p></td>
        <td><p><em>December 2011</em></p></td>
        </tr>
        <tr>
        <td><h4>The College of William and Mary</h4></td>
        <td><p class='edu-descriptor'>Bachelor of Arts, Chemistry and Anthropology</p></td>
        <td><p><em>May 2008</em></p></td>
        </tr>
      </tbody>
    </table>

  </div>
  <div class='res-section'>

    <h2 class='res-section-header'>Experience</h2>
    <hr>

    <table>
      <tbody>
        <tr>
          <td><p class='work-date'>Oct. 2011- Aug. 2012</p></td>
          <td><h4>Manager</h4></td>
          <td><p class='work-place'>Hawthorne Threads, NY</p></td>
        </tr>
        <tr>
          <td><p class='work-date'>2011</p></td>
          <td><h4>Research Assistant; GIS Volunteer</h4></td>
          <td><p class='work-place'>Hudsonia, NY</p></td>
        </tr>
        <tr>
        <td><p class='work-date'>Sept. - Nov. 2010</p></td>
          <td><h4>Deepwater Horizon Resource Advisor</h4></td>
          <td><p class='work-place'>National Park Service, FL</p></td>
        </tr>
        <tr>
        <td><p class='work-date'>July 2009- July 2010</p></td>
          <td><h4>GIS Intern</h4></td>
          <td><p class='work-place'>National Park Service, NV</p></td>
        </tr>
      </tbody>
    </table>
  </div>
</div> <!--end of resume content div -->
